<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Fitindex</title>
</head>
<body>
    <a href="https://youtu.be/SgM3r8xKfGE" target="_blank">flo rida</a>
    <br>
    <img src="C:\Users\21655\Desktop\Recording_artist_Flo_Rida_during_a_live_music_performance_for_the_closing_ceremonies_of_the_2016_Invictus_Games_(cropped) (1).jpg" alt="image flo rida" height="145" width="150">   
    <div>
        <select>
            <option value="tn">Tunisie</option>
            <option value="fr">France</option>
            <option value="cs">canada</option>
        </select>     
    </div>
    <div>
        <label for="username">username</label>
        <input type="text" id="username" name="username">
    </div>

        

</body>





</html>





    
